<h1>{{ worker.username }}</h1>

<p>First name: {{ worker.first_name }}</p>
<p>Last name: {{ worker.last_name }}</p>
<p>Email: {{ worker.email }}</p>
<p>Position: {{ worker.position }}</p>

<h2>Tasks</h2>

<ul>
    {% for task in worker.tasks.all %}
        <li>
            <a href="{% url 'task-detail' task.pk %}">
                {{ task.name }}
            </a>
        </li>
    {% empty %}
        <li>No assigned tasks.</li>
    {% endfor %}
</ul>

<a href="{% url 'worker-list' %}">Back to workers</a>
